@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

/* 共通 */
html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
iframe.tmblr-iframe {
    display: none;
}

/* ヘッダー */
.header {
    text-align: center;
    background-color: #373b3e;
    color: #fff;
    padding: 20px 0;
}
.header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
}
.header__title b {
    color: #e12885;
}
@media (min-width:480px) and ( max-width:600px) {
    .header { padding: 30px 0; }
    .header__title { font-size: 30px; }
}

@media (min-width:600px) and ( max-width:960px) {
    .header { padding: 40px 0; }
    .header__title { font-size: 40px; }
}

@media (min-width:960px) {
    .header { padding: 50px 0; }
    .header__title { font-size: 50px; }
}

/* マップ */
.map__contents {
    width: 100%;
    height: 600px;
}

/* マーカーウィンドウ */
.infoWindow__contents {
    border-bottom: #999 dotted 1px;
    padding: 10px 0;
}
.infoWindow__contents:last-child {
    border-bottom: none;
}
.infoWindow__title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 0.5em;
}
.infoWindow__text {
    font-size: 10px;
    margin: 0;
}
@media (min-width:480px) and ( max-width:600px) {
    .infoWindow__title { font-size: 16px; }
    .infoWindow__text { font-size: 12px; }
}

@media (min-width:600px) {
    .infoWindow__title { font-size: 18px; }
    .infoWindow__text { font-size: 14px; }
}

/* フッター */
.footer {
    text-align: center;
    background-color: #373b3e;
    color: #fff;
    padding: 24px 0;
}
.footer__copy {
    font-size: 12px;
}
